*.csv
*.dat
*.iml
*.log
*.out
*.pid
*.seed
*.sublime-*
*.swo
*.swp
*.tgz
*.xml
.DS_Store
.idea
.project
.strong-pm
.grunt
.lock-wscript
.npm
.node_repl_history
coverage
jscoverage/JSCover
lib-cov
logs
pids
node_modules
npm-debug.log
build/Release
launchConfigurations/